public class RNG {

	public static void main(String[] args) {
		int count = 0;
		int stop = 16;
		int max = 20;
		int min = 1;
		int range = max - min + 1;
		
		double RanNum = (int)(Math.random() * range) + min;	
		while (RanNum != stop) {
			++count;
			RanNum = (int)(Math.random() * range) + min;
			}
		System.out.println("It took " + count + " times to get to " + RanNum);
		}
}
